<a href="https://colab.research.google.com/github/2303A51648/PDS_B-10/blob/main/lab-06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Create a sample sales dataset with some duplicates
data = {
    'Transaction_ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Product': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Laptop', 'Laptop'],
    'Quantity': [1, 2, 1, 1, 1, 2, 1, 1, 1, 1],
    'Price': [1000, 50, 30, 150, 1000, 50, 30, 150, 1000, 1000],
    'Date': ['2023-09-15', '2023-09-16', '2023-09-17', '2023-09-18', '2023-09-15', '2023-09-16', '2023-09-17', '2023-09-18', '2023-09-15', '2023-09-15']
}

# Convert to DataFrame
sales_df = pd.DataFrame(data)

# Introduce duplicates
sales_df = pd.concat([sales_df, sales_df.iloc[1:3], sales_df.iloc[6:8]], ignore_index=True)

# Show the dataset with duplicates
print("Original Sales Dataset with Duplicates:")
print(sales_df)

# Detect duplicates
duplicates = sales_df.duplicated()
print("\nDuplicate Rows:")
print(sales_df[duplicates])

# Count duplicates before removal
before_count = sales_df.duplicated().sum()

# Remove duplicates
sales_cleaned_df = sales_df.drop_duplicates()

# Count duplicates after removal
after_count = sales_cleaned_df.duplicated().sum()

# Show the cleaned dataset
print("\nCleaned Sales Dataset (Duplicates Removed):")
print(sales_cleaned_df)

# Show duplicate counts
print(f"\nNumber of Duplicates Before Removal: {before_count}")
print(f"Number of Duplicates After Removal: {after_count}")

Original Sales Dataset with Duplicates:
    Transaction_ID   Product  Quantity  Price        Date
0              101    Laptop         1   1000  2023-09-15
1              102     Mouse         2     50  2023-09-16
2              103  Keyboard         1     30  2023-09-17
3              104   Monitor         1    150  2023-09-18
4              105    Laptop         1   1000  2023-09-15
5              106     Mouse         2     50  2023-09-16
6              107  Keyboard         1     30  2023-09-17
7              108   Monitor         1    150  2023-09-18
8              109    Laptop         1   1000  2023-09-15
9              110    Laptop         1   1000  2023-09-15
10             102     Mouse         2     50  2023-09-16
11             103  Keyboard         1     30  2023-09-17
12             107  Keyboard         1     30  2023-09-17
13             108   Monitor         1    150  2023-09-18

Duplicate Rows:
    Transaction_ID   Product  Quantity  Price        Date
10             102     Mouse         2     50  2023-09-16
11             103  Keyboard         1     30  2023-09-17
12             107  Keyboard         1     30  2023-09-17
13             108   Monitor         1    150  2023-09-18

Cleaned Sales Dataset (Duplicates Removed):
   Transaction_ID   Product  Quantity  Price        Date
0             101    Laptop         1   1000  2023-09-15
1             102     Mouse         2     50  2023-09-16
2             103  Keyboard         1     30  2023-09-17
3             104   Monitor         1    150  2023-09-18
4             105    Laptop         1   1000  2023-09-15
5             106     Mouse         2     50  2023-09-16
6             107  Keyboard         1     30  2023-09-17
7             108   Monitor         1    150  2023-09-18
8             109    Laptop         1   1000  2023-09-15
9             110    Laptop         1   1000  2023-09-15

Number of Duplicates Before Removal: 4
Number of Duplicates After Removal: 0

In [2]:
import pandas as pd

# Step 1: Create a sample employee dataset with incorrect data types
data = {
    'Employee_ID': [101, 102, 103, 104, 105],
    'Name': ['John', 'Anna', 'Peter', 'Linda', 'James'],
    'Salary': ['$50000', '$55000', '$60000', '$48000', '$52000'],  # Salary as string
    'Joining_Date': ['2022-01-15', '2021-05-20', '2020-09-10', '2019-07-25', '2018-11-30'],  # Joining date as string
}

# Convert to DataFrame
employee_df = pd.DataFrame(data)

# Show the dataset with incorrect data types
print("Original Employee Dataset with Incorrect Data Types:")
print(employee_df)

# Step 2: Convert 'Salary' from string to numeric by removing the '$' sign
employee_df['Salary'] = employee_df['Salary'].replace({'\$': ''}, regex=True).astype(float)

# Convert 'Joining_Date' from string to datetime
employee_df['Joining_Date'] = pd.to_datetime(employee_df['Joining_Date'], format='%Y-%m-%d')

# Step 3: Show the dataset with corrected data types
print("\nEmployee Dataset with Corrected Data Types:")
print(employee_df)

# Show corrected data types
print("\nCorrected Data Types:")
print(employee_df.dtypes)

Original Employee Dataset with Incorrect Data Types:
   Employee_ID   Name  Salary Joining_Date
0          101   John  $50000   2022-01-15
1          102   Anna  $55000   2021-05-20
2          103  Peter  $60000   2020-09-10
3          104  Linda  $48000   2019-07-25
4          105  James  $52000   2018-11-30

Employee Dataset with Corrected Data Types:
   Employee_ID   Name   Salary Joining_Date
0          101   John  50000.0   2022-01-15
1          102   Anna  55000.0   2021-05-20
2          103  Peter  60000.0   2020-09-10
3          104  Linda  48000.0   2019-07-25
4          105  James  52000.0   2018-11-30

Corrected Data Types:
Employee_ID              int64
Name                    object
Salary                 float64
Joining_Date    datetime64[ns]
dtype: object

<>:19: SyntaxWarning: invalid escape sequence '\$'
<>:19: SyntaxWarning: invalid escape sequence '\$'
/tmp/ipython-input-4191827640.py:19: SyntaxWarning: invalid escape sequence '\$'
  employee_df['Salary'] = employee_df['Salary'].replace({'\$': ''}, regex=True).astype(float)